.navbar-nav > li{
    padding-left:45px;
    padding-right:45px;
  }

.card {
    width: 60rem;
    border: 3px solid rgb(0, 0, 0);
    margin-bottom: 11px;
    padding-bottom: 11px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: antiquewhite;
    
    
}

.movie-list-div {
    
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 50%;
    padding: 15px;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 24px;

}

img {
    height: 250px;
    
    
}

body {
    background-color: aqua;
}

.review-p {
    background-color: antiquewhite;
    border: 2px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
}